.features {
    margin: 64px 0;
}

.features h2 {
    margin: 24px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.features p {
    color: var(--color9);
}


@media (min-width: 1024px) {
    .features {
        display: flex;
        flex-direction: column;
        gap: .6rem;
        width: 580px;
        float: left;
        margin: 0 0 8rem 0;
    }

    .features h2 {
        font-size: 2rem;
        margin: 0 0 1rem 0;
    }
}