.includes {
    margin: 44px 0;
    max-width: 660px;
}

.includes h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.includes > div div {
    margin-bottom: 8px;
}

.includes span {
    margin-right: 16px;
    text-transform: capitalize;
}

.includes .quantity {
    color: var(--color1);
    font-weight: 600;
}

@media (min-width: 768px) {
    .includes {
        display: flex;
        justify-content: space-between;
        
    }
}

@media (min-width: 1024px) {
    .includes {
        flex-direction: column;
        float: right;
        margin: 0 10% 0 0;
        max-width: 260px;
    }

    .includes h3 {
        font-size: 2rem;
    }
}