.productAndPriceContainer {
    display: flex;
    flex-direction: column;
    margin: 42px 0 120px 0;
}

.controls {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.price {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.qnty {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--color5);
    padding: 12px 24px;
}

.qnty input {
    width: 50px;
    text-align: center;
    border: none;
    background: transparent;
    outline: none;
}

.qnty input[type="number"]::-webkit-outer-spin-button,
.qnty input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.qnty input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.qnty .icon {
    cursor: pointer;
    color: var(--color9);
    font-size: .6rem;
}

.controls button {
    background: var(--color1);
    border: none;
    color: white;
    cursor: pointer;
}

.controls button:hover {
    background: var(--color2);
}


@media (min-width: 768px) {
    .productAndPriceContainer {
        flex-direction: row;
        gap: 3rem;
        height: 540px;
    }

    .productAndPriceContainer > div {
        flex: 1;
    }

    .productAndPriceContainer > div:first-child {
        display: flex;
        align-items: center;
        background-color: var(--color5);
        border-radius: 8px;
    }

    .productAndPriceContainer picture img {
        height: 560px;
        object-fit: cover;
        transform: scale(.6);
    }


    .productAndPriceContainer > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}