.back {
    margin: 16px 0;
    color: var(--color9);
}

.back span {
    transition: all 0.3s ease;
    cursor: pointer;
}

.back span:hover {
    color: var(--color1);
    text-decoration: underline;
}


@media (min-width: 768px) {
    .back {
        margin: 3rem 0 0 0;
        color: var(--color9);
    }

}