.bestAudioGear {
    margin: 140px 0;
}

.imageContainer {
    text-align: center;
}

.imageContainer img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    margin: 0 auto;
}

.textContainer {
    margin-top: 32px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.textContainer h2 {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--color4);
    text-transform: uppercase;
    margin-bottom: 26px;
}

.textContainer h2 span {
    color: var(--color1);
}

.textContainer p {
    font-size: 1.05rem;
    font-weight: 500;
    color: var(--color9);
    line-height: 1.5;
}


@media (min-width: 768px) {
    .bestAudioGear {
       margin: 70px 0;
    }

    .imageContainer img {
        max-width: none;
    }

    .textContainer h2 {
        font-size: 2.5rem;
        margin: 3.5rem 0 2rem 0;
    }

    .textContainer p {
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    .bestAudioGear {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 2.5rem;
    }

    .bestAudioGear > div {
        flex: 1;
        padding: 20px;        
    }

    .textContainer {
        text-align: left;
    }
}