.back {
    margin: 16px 0;
    color: var(--color9);
}

.back a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

.back a:hover {
    color: var(--color1);
    text-decoration: underline;
}


.features {
    margin: 64px 0;
}

.features h2 {
    margin: 24px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.features p {
    color: var(--color9);
}

.includes {
    margin: 44px 0;
}

.includes h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.includes > div {
    margin-bottom: 8px;
}

.includes span {
    margin-right: 16px;
    text-transform: capitalize;
}

.includes .quantity {
    color: var(--color1);
    font-weight: 600;
}

.imagesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 6rem 0;
}

.imagesContainer div {
    flex: 1 1 50%;
}

.imagesContainer img {
    width: 100%;
    border-radius: 8px;
}

.other {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.other img{
    width: 100%;
    border-radius: 8px;
}

.info h4 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.other .info button {
    background-color: var(--color1);
    color: var(--color3);
    border: none;
    margin: 16px 0;
}