.container {
    padding: 1.5rem;
    color: var(--color3);
    background-color: var(--color10);
    border-bottom: 1px solid var(--color8);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 500;
}

.container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;   
    margin: 0 auto;
}

.title h1 {
    text-transform: lowercase;
    font-weight: 900;
    font-size: 1.7rem;
    cursor: pointer;
    margin: 0;
}

.hamburgerIcon,
.cartIcon {
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .3s ease;
}

.hamburgerIcon:hover,
.cartIcon:hover {
    color: var(--color1);
}

.hidden, 
.showNav {
    position: absolute;
    background-color: var(--color10);
    transition: all .5s linear;
    width: 100%;
    padding-right: 26px;
    left: 0;
}

.hidden {
    transform: translate(0,-130%);
    opacity: 0;
    z-index: -500;
}

.showNav {
    top: calc(100% + 1px);
    left: 0;
    z-index: 1;
}


.navList li {
    list-style: none;
    margin: 1.5rem 0;
    cursor: pointer;
    font-weight: 600;
    transition: all .3s ease;
    text-transform: uppercase;
    font-size: .9rem;
    padding: 0 24px;
}

.navList li:hover {
    color: var(--color1);
}

.navlink {
    text-decoration: none;
    color: inherit;
}

.active {
  color: #d87d4a;
  font-weight: bold;
  border-bottom: 2px solid #d87d4a;
}

@media screen and (min-height: 700px) {
    .hidden, 
    .showNav {
        position: absolute;
        background-color: var(--color10);
        transition: all .5s linear;
        width: 100%;
        padding-right: 26px;
        left: 0;
    }
}

@media (min-width: 768px) {
    .container > div{
        justify-content: flex-start;
    }

    .title {
        margin-left: 40px;
        flex: 1;
    }

}

@media (min-width: 1024px) {
    .container {
        position: relative;
    }

    .container > div {
        display: flex;
        justify-content: space-between;
    }

    .hamburgerIcon {
        display: none;
    }

    .title {
        margin: 0;
    }

    .cartIconContainer {
        margin-right: 2.5rem;
    }
    
    .hidden, 
    .showNav {
        background-color: transparent;
        transition: none;
        width: auto;
        left: 55%;
        top: 50%;
        transform: translate(-55%, -50%);
    }

    .navList {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .navList li {
        margin: 0;
        padding: 0;
    }


    .hidden {
        opacity: 1;
        z-index: 1;
    }


}

