.footer {
    background-color: var(--color6);
    
}

.footer > div {
    position: relative;
    padding: 54px 34px;
}

.footer > div::before {
    content: "";
    display: block;
    height: 4px;
    width: 26%;
    background-color: var(--color1);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 150px;
}

.logoAndNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: var(--color3);
}

.logoAndNav h2 {
    font-size: 2rem;
    font-weight: 900;
    text-transform: lowercase;
    letter-spacing: 0;
}

.logoAndNav nav ul {
    margin: 0;
    padding: 0;
}

.logoAndNav nav li {
    list-style: none;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin: 22px 0;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logoAndNav nav li:hover {
    color: var(--color1);
}

.description {
    text-align: center;
    color: var(--color9);
    margin: 32px 0;
}

.description p {
    margin: 0;
    line-height: 1.5;
    font-weight: 600;
}

.copyAndIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: var(--color9);
}

.copyAndIcons p {
    margin: 0;
    line-height: 1.5;
    font-weight: 600;
}

.copyAndIcons .icons {
    display: flex;
    gap: 12px;
    color: var(--color3);
    font-size: 1.5rem;
    margin: 16px 0;
}

.icons .icon {
    cursor: pointer;
    transition: all 0.3s ease;
}

.icons .icon:hover {
    color: var(--color1);
}

.link {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px) {
    .footer > div::before {
        left: 22%;
        transform: translateX(-100%);
    }

    .logoAndNav {
        align-items: flex-start;
        gap: 0;
    }

    .logoAndNav nav ul {
        display: flex;
        gap: 32px;
    }

    .description {
        text-align: start;
    }

    .copyAndIcons {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1024px) {

    .footer > div::before {
        left: 17%;
    }

    .footer > div {
        padding: 1rem 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .logoAndNav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .description {
        width: 50%;
    }
}