body, html {
    height: 100%;
}

.navlink {
    text-decoration: none;
    color: inherit;
}

.containerProducts {
    margin-top: 80px;
}

.containerProductsDetails {
    margin-top: 120px;
}

@media (min-width: 1024px) {
    .containerProducts {
        margin-top: 0;
    }

    .containerProductsDetails {
        margin-top: 0;
    }
}